body {
  margin: 5px;
  padding: 5px;
  font-family:'Press Start 2P';
  background-color: blue;
  border-radius: 3px;
}



h1 {
  padding: 25px;
  text-align: center;
  font-size: xx-large;
  margin-bottom: 5px;
  border: 0;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

div > div {
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
}

button {
  background-color: orange;
  height: 80px;
  border: 6px black solid;
}

.slot {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: xxx-large;
  border: 8px black solid;
}

#slots-area {
  border: 0;
}

.coin-value {
  text-align: center;
  line-height: 80px;
  border: 0 ;
}

#button-area {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  border: 0;
}

